.css-5nwj3y {
    justify-content: space-between;
    padding: 6px 30px;
    background: rgba(360, 360, 360, .7);
    margin-bottom: 30px;
}
.css-s92b0l {
    padding: 6px 0;
}
#root {
    height: 100%;
    position: relative;
    width: 100%;
}
.search-city {
    display: grid;
    margin-left: 20px;
    justify-content: center;
    grid-template-columns: 300px 120px;
    grid-template-rows: 50px 1fr;
}
.auto-city {
    background: rgba(360, 360, 360, .8);
    padding-left: 16px;
    border-radius: 4px;
    z-index: 1;
}
.home-content {
    position: absolute;
    top: 190px;
    margin: 0 50px;
}
.days {
    display: flex;
}
.days > div{
    width: 160px;
    text-align: center;
    padding: 10px 0;
}
.days-temp > p {
    margin: 0 !important;
    line-height: 1 !important;
}
.days-temp {
    display: flex;
    justify-content: center
}
.days-temp > div{
    width: 60px;
}
.one-day {
    border-radius: 8px;
    margin-right: 10px;
    background: rgba(360, 360, 360, .8);
    box-shadow: 0px 0px 6px 2px lavender;
    cursor: pointer;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin-top: 10px !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    align-items: flex-end !important;
    margin-right: 50px;
    color: #454545 !important;
}
.css-1lojo64-MuiTypography-root {
    text-align: center;
}
.css-azeo8y-MuiAvatar-root {
    margin-right: 20px;
}

.homePage {
    position: relative;
    z-index: 1;
}
.homePageBg {
    background-image: url('../../images/sky.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    opacity: .6;
}
